.Polaris-MultiSelect {
    [data-controller="polaris-popover"] {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .Polaris-Button__Content {
        justify-content: flex-start;
        font-weight: inherit;
        overflow: hidden;

        .Polaris-Button__Text {
            flex-grow: 1;
            text-align: left;
            white-space: nowrap;
        }
    }
}
